:root {
  --main-font: Roboto, sans-serif;
  --main-color: #434455;
  --main-bgc: #ffffff;
  --main-color-title: #2e2f42;
  --accent: #404bbf;
  --main-btn: #4d5ae5;
  --second-bgc: #f4f4fd;
  --light-slate: #8e8f99;
  --accent-footer: #31d0aa;
  --number-cards-gallery: 3;
  --distance-card-gallery: 24px;
  --number-card-team: 4;
  --distance-card-team: 24px;
}
body {
  color: var(--main-color);
  font-family: var(--main-font);

  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
ol,
ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
a {
  text-decoration: none;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.section {
  padding: 120px 0px;
  margin: 0 auto;
}

.container {
  max-width: 480px;
  padding-left: 16px;
  padding-right: 16px;

  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 1199px;
    padding: 0 16px 0 16px;
  }
}

/* Header */

.header {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #e7e9fc;
  }
}

.nav {
  display: none;
}
.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;

    color: var(--main-color-title);
  }
}

.logo {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 120px;

  color: #2e2f42;

  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: var(--main-btn);
}
.menu-toggle {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav-menu {
  display: flex;
}

.site-nav {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;

  color: var(--main-color-title);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.current {
  position: relative;
  color: var(--accent);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .item:not(:last-child) {
    margin-right: 40px;
  }
  .item a {
    color: inherit;
  }
}

.site-nav:hover,
.site-nav:focus,
.logo:hover,
.logo:focus,
.contacts a:hover,
.contacts a:focus,
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent);
}

.contacts {
  display: none;
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    align-items: center;
  }
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    align-items: center;
  }
  .contacts a {
    color: var(--main-color);
  }
  .contacts .item:not(:last-child) {
    margin-bottom: 4px;
  }
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
}
/* Section Hero */

.section-hero {
  max-width: 767px;
  padding: 112px 54px;
}
@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1200px;
    padding: 188px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-hero {
    max-width: 1199px;
    padding: 102px 136px;
  }
}

.hero-image {
  background-color: var(--main-color-title);

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/hero-mob@1x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .hero-image {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-desk@1x.jpg');
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-image {
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-tabl@1x.jpg');
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero-image {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-mob@2x.jpg');
  }
  @media screen and (min-width: 1200px) {
    .hero-image {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/hero-desk@2x.jpg');
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero-image {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/hero-tabl@2x.jpg');
    }
  }
}

.hero-title {
  max-width: 376px;
  margin: 0 auto 72px auto;

  color: #ffffff;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.01;
  text-align: center;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 40px auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 498px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 48px auto;
  }
}

.hero-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  margin: 0 auto;
  padding: 16px 32px;
  gap: 10px;
  justify-content: center;

  color: #ffffff;
  background-color: var(--main-btn);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent);
}

/* Section Features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: 264px;
  }
  .features-item:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-item:nth-child(odd) {
    margin-right: 24px;
  }
  .features-item:nth-child(-n + 2) {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

.features-btn {
  display: none;
}
.features-icon {
  display: none;
}
@media screen and (min-width: 1200px) {
  .features-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    height: 112px;
    width: 100%;
    background-color: var(--second-bgc);
    border: none;
    border-radius: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .features-icon {
    display: block;
    width: 64px;
    height: 64px;
  }
}
.third-title-features {
  margin-top: 0px;
  margin-bottom: 8px;

  color: var(--main-color-title);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .third-title-features {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1199px) {
  .third-title-features {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
}
.features-text {
  margin: 0px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section What are we doing */

.own-projects {
  display: none;
}
@media screen and (min-width: 1200px) {
  .own-projects {
    display: block;
  }
}
.second-title {
  margin: 0px;

  color: var(--main-color-title);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
}

.projects-item {
  display: block;
  width: 360px;
}

.projects-item:not(:last-child) {
  margin-right: 24px;
}

/* Section Our team */

.section-team {
  background-color: var(--second-bgc);
  padding-top: 96px;
  padding-bottom: 128px;
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team {
    padding-top: 96px;
    padding-bottom: 104px;
  }
}
.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  gap: 72px 24px;
  justify-content: center;
  margin-right: 0;
}
@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    gap: 0 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    max-width: 839px;
    margin-left: auto;
    margin-right: auto;
  }
}

.team-lead {
  background: #ffffff;
}
@media screen and (min-width: 1200px) {
  .team-lead {
    flex-basis: calc(
      (100% - (var(--distance-card-team) * (var(--number-cards-team) - 1))) /
        var(--number-cards-team)
    );
    background: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-lead {
    flex-basis: calc(((100% - 24px) / 2));
    max-width: 264px;
  }
}
.team-description {
  padding: 32px 16px;
  min-height: 120px;
}

.third-title-team {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--main-color-title);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.text-team {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.social-link {
  max-height: 40px;
}

.social-list {
  display: flex;
  gap: 24px;
  max-height: 40px;
}

.social-btn {
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-btn);
  border: none;
  align-items: center;
  justify-content: center;
}
.social-btn:hover,
.social-btn:focus {
  background-color: var(--accent);
}

.social-icon {
  fill: var(--second-bgc);
}

/* Customers */

.customers-section {
  padding: 96px 0 96px 0px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .customers-section {
    padding: 130px 0 120px 0px;
    margin: 0 auto;
  }
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  gap: 72px 16px;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list {
    max-width: 830px;
    gap: 72px 24px;
    margin: 0 auto;
    margin-top: 72px;
  }
}
.customers-item {
  max-width: calc((100% - 16px) / 2);
  width: 190px;
  height: 88px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-item {
    max-width: calc((100% - 24px * 2) / 3);
    height: 88px;
  }
}
.customers-item > a {
  display: flex;
}
@media screen and (min-width: 1200px) {
  .customers-item {
    width: 168px;
    height: 88px;
    gap: 24px;
  }
}
.customers-btn {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--light-slate);
}
.customers-btn:hover,
.customers-btn:focus {
  color: var(--accent);
}
.customers-icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;

  height: 56px;
}

.customers-icons:hover,
.customers-icons:focus {
  fill: var(--accent);
}

/* Footer */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--main-color-title);
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--main-color-title);
  }
}
.footer-description {
  display: block;
  max-width: 767px;
}
@media screen and (min-width: 1200px) {
  .footer-description {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-description {
    display: flex;
    width: 496px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

.text-footer {
  width: 264px;
  margin: 16px auto 0px auto;

  color: #e7e9fc;

  letter-spacing: 0.02em;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.logo-footer {
  display: block;
  width: 116px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--second-bgc);

  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .logo-footer {
    margin: 0;
  }
}
.footer-list {
  display: flex;
}

.footer-item {
}
@media screen and (min-width: 1200px) {
  .footer-item {
    margin-right: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-item {
    margin-right: 24px;
    margin-bottom: 72px;
  }
}

.footer-item-social {
  margin-top: 72px;
}
@media screen and (min-width: 768px) {
  .footer-item-social {
    margin-top: 0;
  }
}
.footer-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-media {
    text-align: left;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social {
    margin-bottom: 0;
  }
}

.footer-btn {
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-icon {
  fill: var(--second-bgc);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--accent-footer);
}
/* Subscribe */

.subscribe-label-text {
  display: block;
  height: 24px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .subscribe-label-text {
    text-align: left;
  }
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 444px;
  justify-content: center;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .sub-container {
    width: 454px;
    display: flex;
    flex-wrap: nowrap;
  }
}

.subscribe-label {
  display: flex;
}
.subscribe-input {
  display: block;
  width: 264px;
  height: 40px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
}
.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}
.subscribe-btn {
  display: flex;
  align-items: center;

  width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: var(--main-btn);
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.subscribe-icon {
  margin-left: 24px;
  width: 24px;
  height: 20px;
  fill: #ffffff;
}
/* Portfolio ----- Buttons*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.all-button {
  padding-bottom: 72px;
}
.filtr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px;
}
.filtr-item:not(:last-child) {
  margin-right: 24px;
}

.btn {
  height: 48px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.filtr-item:nth-child(1) {
  width: 69px;
}
.filtr-item:nth-child(2) {
  width: 116px;
}

.filtr-item:nth-child(3) {
  width: 78px;
}

.filtr-item:nth-child(4) {
  width: 101px;
}

.filtr-item:nth-child(5) {
  width: 126px;
}

.filter-button {
  color: var(--main-btn);
  background-color: var(--second-bgc);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.04em;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: inherit;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  border-color: transparent;
}

/* Cards */
.all-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-card {
  position: relative;
  flex-basis: calc(
    (100% - (var(--distance-card-gallery) * (var(--number-cards-gallery) - 1))) /
      var(--number-cards-gallery)
  );

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  display: flex;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 30px;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 90, 229, 0.7);
}
.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}
.thumb-text {
  font-size: 16px;

  letter-spacing: 0.02em;
  color: var(--second-bgc);
}
.border-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

/* .portfolio-card:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
} */

.title-portfolio {
  margin-bottom: 8px;

  color: var(--main-color-title);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-portfolio {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Modal window*/

.backdrop {
  position: fixed;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;

  width: 392px;
  max-height: 584px;
  padding: 72px 16px 24px 16px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  background-color: #fff;
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;

    width: 408px;
    height: 584px;
    padding-top: 72px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    background-color: #fff;
  }
}

.modal-btn {
  display: flex;
  position: absolute;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 24px;

  height: 24px;
  padding: 0px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;

  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-img {
  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  background-color: var(--accent);
}
.modal-btn:hover .modal-img {
  fill: #ffffff;
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--main-color-title);
}
.modal-label {
  position: relative;
  margin-bottom: 8px;
  font-size: 12px;

  letter-spacing: 0.04em;

  color: var(--light-slate);
}
.input-container {
  position: relative;
}
.modal-label-textarea {
  position: relative;
  margin-bottom: 16px;
  font-size: 12px;

  letter-spacing: 0.04em;

  color: var(--light-slate);
}
.modal-input {
  display: flex;
  height: 40px;
  margin-top: 4px;
  padding-left: 40px;
  width: 100%;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal-input:focus {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--main-btn);
}
.modal-input:focus + .input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--main-btn);
}
.modal-textarea {
  margin-top: 4px;
  padding-top: 8px;
  padding-left: 16px;
  width: 100%;
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}
.modal-textarea:focus {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--main-btn);
}
.input-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.modal-label-checkbox {
  display: flex;
  align-items: center;

  margin-bottom: 24px;
}
.modal-input-checkbox {
  display: flex;
  appearance: none;
}
.modal-input-checkbox:checked + .agree-check {
  background-image: url('/images/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.agree-check {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--main-color-title);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}
.agree-icon {
  position: relative;
  width: 16px;
  height: 16px;

  border: 1.25px solid var(--accent);
  border-radius: 2px;
  fill: #fff;
}

.modal-agreement {
  padding-left: 8px;
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;

  color: #757575;
}
.modal-link {
  color: var(--main-btn);
  text-decoration: underline;
}
.modal-btn-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  background: var(--main-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
/* Mobile menu */
.menu-toggle {
  height: 24px;
  width: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--accent);
}
.menu-toggle:hover .modal-img {
  fill: #ffffff;
}
.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-container.is-open .js-close-menu {
  background-color: #e7e9fc;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 80px 0 0 0;

  list-style: none;
}
.mobile-item:not(:last-child) {
  margin-bottom: 40px;
}
.contacts-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color-title);
}
.current-mob {
  color: var(--accent);
}

.mobile-menu .link {
  display: block;
  padding: 10px;

  text-decoration: none;
}
.contacts-mobile {
  margin-top: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;

  color: var(--accent);
}
.mobile-social-list {
  display: flex;
  gap: 56px;
  max-height: 40px;
  justify-content: center;
  margin-top: 48px;
}
.item-phone {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;

  color: var(--main-btn);
}

.item-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--main-color);
}
